DEBUG=True
SECRET_KEY=jyjtyjtgrgjtukuthgrhrtwewv
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=shared_tcms_db
DB_USER=shared_user
DB_PASSWORD=yourpassword123
DB_HOST=localhost
DB_PORT=5432

CORS_ORIGIN=http://localhost:5173