SECRET_KEY=m8+9227#7)f)kbt!ih-h)#90l)6#_zas*1xw55l2f59b60gdx*
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=shared_tcms_db
DB_USER=shared_user
DB_PASSWORD=yourpassword123
DB_HOST=localhost
DB_PORT=5432

CORS_ORIGIN=http://localhost:5174